html {
  background-color: #2b3a67;
  color: #452103;
  font-family: georgia, serif;
  
}

h1 {
  color: #fffd82;
}

.centered-and-cropped { object-fit: cover }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
}

a {
  text-decoration: none;
  color: #fffd82;
  font-weight: bold;
  padding-right: 25px;
  padding-left: 25px;
}

.box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fffd82;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

.notes-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fffd82;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
}

.notes-box a {
  float: left;
}

.notes-box p {
  float: right;
}

.box a {
  padding: 10px;
  color: #452103;
}

.box h1 {
  color: #452103;
}

.box img {
  width: 40%;
  padding: 10px;
}

.album-info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.photo-box {
  margin-top: 20px;
  display: flex;
  flex-direction:column;
  background-color: #fffd82;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

.photo-box img {
  width: 90%;
  padding: 10px;
}
