html {
  --bgc: #000000;
  --tc:  #FFFFFF;
  background-color: var(--bgc);
  color: var(--tc);
  font-family: Arial;
}

a {
  color: #FFFFFF;
}

img {
  height: 300px;
}

.photodiv img {
  aspect-ratio: auto;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.recipe-ul {
  list-style-type: square;
  padding-left: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.pin {
	height: 31px;
	width: 88px;
}
