html {
  background-color: #000000;
  color: #000000;
  font-family: "Times New Roman";
  color: #FFFFFF;
}

h1 {
  color: #FFFFFF;
}

.enwiden {
  all:unset;
}

.centered-and-cropped { object-fit: cover }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  padding-right: 25px;
  padding-left: 25px;
}

.box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  width: 60%;
  max-width: 560px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  align-items: center;
}

.notes-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
}

.notes-box a {
  float: left;
}

.notes-box p {
  float: right;
}

.box a {
  padding: 10px;
}

.box h1 {
  color: #000000;
}

.box img {
  width: 90%;
  padding: 10px;
}

#wet-pet {
  width: 40%;
  padding: 10px;
}

.album-info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.photo-box {
  margin-top: 20px;
  display: flex;
  flex-direction:column;
  background-color: #fffd82;
  width: 60%;
  max-width: 560px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

.photo-box img {
  width: 90%;
  padding: 10px;
}

@media (max-width: 800px) {
  html {
    font-size: 28px;
  } 

  .box {
    all: unset;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fffd82;
    width: 80%;
    /*max-width: 560px;*/
    padding: 10px;
    border-radius: 10px;
    align-items: center;
  } 
}

p {
  color: #FFFFFF;
 } 
