@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  --bgc: #7c6354;
  --tc: #fdfffc;
  --lc: #f5b82e;
  --tc1: #5985aa;
  --tc2: #363457;
  background-color: var(--bgc);
  color: var(--tc);
  font-family: Bitstream Charter;
  text-align: center;
  font-size: 2.25vh;
}

.whisper {
  color: darkgray;
  font-style: italic;
  font-size: 0.8em;
}

table {
  margin: auto;
  max-width: 90%;
}

td, th {
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
  max-width: 20vw;
}

tr {
  font-size: 2.5vh;
}

tr:nth-child(even) {
  background-color: var(--tc1);
}

tr:nth-child(odd) {
  background-color: var(--tc2);
}

.container {
  text-align: center;
  max-width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 5vh;
  padding: 0px;
  margin: 0;
  max-width: 100%;
}

a {
  color: var(--lc);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.photodiv {
  width: 60%;
  min-width: 50vh;
  max-width: 100%;
  margin: auto;
}

img {
  aspect-ratio: auto;
  width: 90%;
  height: auto;
  margin-bottom: 3vh;
}

.shrinkwrap img {
  width: 40%;
  min-width: 50vh;
  max-width: 100%;
  margin: auto;
}

.photodiv .album {
  max-width: 50vh;
}

/*
img {
  width: 50%;
  min-width: 80vh;
  max-width: 100%;
  margin: auto;
  aspect-ratio: auto;
  margin-bottom: 3vh;
}
*/

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.navbar {
  font-size: 3vh;
  line-height: 2.75rem;
  margin-bottom: 1vh;
  word-spacing: 0.5rem;
  max-width: 100%;
}

.navbar a {
  color: var(--tc);
}
