@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  --bgc: #000000;
  --tc: #FFFFFF;
  --lc: #818CF8;
  --lh: #BF5700;
  --eg: #004c54;
  --bo: #fb4f14;
  background-color: var(--bgc);
  color: var(--tc);
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 2.5vh;
}

.whisper {
  color: darkgray;
  font-style: italic;
  font-size: 0.8em;
}

table {
  margin: auto;
  width: 80vh;
  max-width: 99%;
}

td, th {
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
  max-width: 25vw;
}

tr {
  font-size: 2.5vh;
}

tr:nth-child(even) {
  background-color: var(--lh);
}

tr:nth-child(odd) {
  background-color: var(--eg);
}

.container {
  text-align: center;
}

.shrinkwrap img {
  height: auto; 
  width: auto;
  max-height: 60vh;
  max-width: 80%;
}

h1 {
  font-weight: 700;
  font-size: 5vh;
  padding: 0px;
  margin: 0;
  max-width: 100%;
}

a {
  color: var(--lc);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  height: 300px;
}

.photodiv {
  max-width: 80%;
  margin: auto;
}

.photodiv img {
  aspect-ratio: auto;
  max-width: 100%;
  height: auto;
}

.photospacer {
  margin-top: 10rem;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.navbar {
  font-size: 3vh;
  line-height: 2.75rem;
  margin-bottom: 1vh;
  word-spacing: 0.5rem;
  max-width: 100%;
}

.navbar a {
  color: var(--tc);
}

.pin {
	height: 31px;
	width: 88px;
}

.album-info {
  word-spacing: 2rem;
}
