body {
  background-color: white;
  width: 700px;
  margin: auto;
}

h1 {
  color: black;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  justify-content: center;
}

p {
}

h3 {
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

#score {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

#winner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  height: 150px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  height: 150px;

}
