body {
  background-color: darkblue;
  width: 700px;
  margin: auto;
}

h1 {
  color: darkorange;
}

button {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  border-color: orange;
}

p {
  color: white;
}

h3 {
  color: darkorange;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

#score {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

#winner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  height: 150px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  height: 200px;
}
